:root {
  background-color: #f0c9ea;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;;
  max-width: 650px;
  
  height: 70vh;
  background-color: #fff;
  border-radius: 20px;
  
  margin: auto;
  margin-top: 5%;

  box-shadow: 10px 9px 24px 3px rgba(64,61,61,0.69);
  -webkit-box-shadow: 10px 9px 24px 3px rgba(64,61,61,0.69);
  -moz-box-shadow: 10px 9px 24px 3px rgba(64,61,61,0.69);
}

.fields {
  margin: 5% 10%;
}

.fields__title{
  display: flex;
  justify-content: center;
}

#field__title {
  font-size: 15px;
  font-weight: bold;
  color: rgb(26, 26, 26);
  margin-bottom: 5%;
  margin-top: 20px;
}

.pink-font {
  color: #E8258E;
}

.fields__textboxs {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.fields__textboxs > input {
  height: 40px;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 5%;
}

.fields__remember {
  margin-bottom: 20px;
}

#btnlogin {
  width: 100%;
  border: none;
  background-color: #E8258E;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.fields__recover > a, .fields__create > a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.fields__recover {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20%;
}

.fields__create {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo > img {
  height: 80px; 
}